<section id="hero" class="relative">
  <%= render partial: 'shared/nav'%>
  <div class="relative bg-gradient-to-r from-purple-600 to-blue-600 h-screen text-white overflow-hidden">
    <div class="absolute inset-0">
      <%= image_tag "hero-bg.jpg", class:"object-cover object-center w-full h-full" %>
x    </div>
    
    <div class="relative z-10 flex flex-col justify-center items-center h-full">
      <p class="text-xl text-gray-300 mb-8">
        Somos especialistas em reestruturação de empresas, <br>
        melhoria de resultados e recuperação judicial.</p>
      <a href="#" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 transition duration-300 ease-in-out transform hover:text-gray-600 hover:scale-105 hover:shadow-lg">Fale Conosco</a>
    </div>
  </div>
</section>