<section class="bg-white dark:bg-gray-900 block">
    <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
        <div class="grid grid-cols-2 gap-4 mt-8">
            <img class="w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-2.png" alt="office content 1">
            <img class="mt-4 w-full lg:mt-10 rounded-lg" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-1.png" alt="office content 2">
        </div>
        <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400" id="about">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Sobre Nós</h2>
            <p class="mb-4">Com mais de vinte anos de atuação, o escritório de advocacia Matuch de Carvalho Advogados Associados foi fundado pelo advogado Julio Matuch de Carvalho, formado pela Universidade do Estado do Rio de Janeiro – UERJ na turma de 1998 e advogado militante desde 1º de março de 1999, e foi consolidado com o ingresso no quadro de sócios por seu irmão, Murilo Matuch de Carvalho, no ano de 2006. Desde então, a Banca presta serviços de advocacia nas áreas de Contencioso Cível e Administrativo, Consultoria em Direito Civil, Direito Administrativo e Direito de Empresa e Administração Judicial, em que se destaca no auxílio de diversos Juízos do Estado do Rio de Janeiro.</p>
        </div>
    </div>
</section>